body{
  background-color: rgb(242, 0, 255);
}

#button1 {
  margin: 0.5rem;
}

/* .imgParent {
  display: flex;
  flex-direction: column;
} */

#img {
  height: 25rem;
  margin: 0 auto;
  cursor: pointer;
}

/* #button2 {
  width: 10rem;
  margin: 2% auto;
} */

#button1 {
  margin: 0.5rem;
  background-color: #fff;
  color: #000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

#button1:hover {
  background-color: #000;
  color: #fff;
}

#button2 {
  width: 24.22rem;
  margin: 2% auto;
  background-color: #fff;
  color: #000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}



#div1{
  background-color: yellow;
  height: 6rem;
  width: 6rem;
  cursor: pointer;
}

#inp, #inp2{
  width: 12.4rem;
  padding: 0.2rem;
  font-size: 1rem;
  margin: 1rem;
  margin-left: 0%;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

textarea {
  height: 100px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.form-group::after {
  content: "";
  display: table;
  clear: both;
}


#dropdown {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}

#selectedValue {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
